
/*  global */

h1,h2{
color: #054F78
}
/*  global */

/*  Events */
.events li{
list-style: none;
margin: 20px 0 ;
line-height: 1.7em;

}

/*  Events */


/* flash messages [error,success,info]  */


ul.success li ,ul.info li ,ul.error li {
margin: 20px 0 ;
padding: 15px;
border: 1px solid transparent ;
border-radius: 4px; 
list-style: none;
max-width: 35% ;

}

ul.error li {
color: white;

background-color: rgb(209, 70, 70);
border-color: #ebccd1;
border-left: 2px solid orangered  ;

}

ul.info li {
color: white;
background-color: mediumturquoise ;
border-color: #bce8f1;
border-left: 2px solid darkblue ;

}

ul.success li {
color: #3c763d ;
background-color: #dff0d8;
border-color: #d6e9c6 ;
border-left: 2px solid darkgreen ;
}






/* edit event */


#leftPanel{
    background-color:#093142;
    color:#fff;
    text-align: center;
}

#rightPanel{
    min-height:415px;
}

#main{
    margin-top: 33px;
}

#main img{
    max-width: 101%;
top: -51px;
position: relative;
height: 220px;
}
/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #0a34bd;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/* div  */
.whov:hover { background-color: #00695c!important; }
.view {
	background-position: center center;
	background-repeat: no-repeat;
    height: 500px;
    min-width: 99%;
    position: relative;
    max-width: 99%;
    margin: 0;
    margin-top: 2px;
}
.secondbase {
    background-color: rgba(255,255,255,.6); 
    margin-top: -90px;
}

.btn-primary:hover,.btn-warning:hover,.btn-success:hover,.btn-info:hover{
background-position: 0 ;
}